.filter-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 110px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.filter-input {
  width: 270px;
  height: 50px;
  background-color: var(--white-color);
  color: var(--grey-light-50-color);
  font-size: 16px;
  border: 1px solid var(--grey-light-150-color);
  border-radius: 04px;
  padding: 12px 30px 12px 20px;
}

.filter-input:first-of-type {
  margin-right: 50px;
}

.filter-input::placeholder {
  font-size: 18px;
  color: var(--grey-light-50-color);
}
