.sales-summary-container {
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.sales-summary-card {
  width: 200px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sales-summary-card-value {
  color: var(--light-color);
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.sales-summary-card-label {
  color: var(--grey-light-150-color);
  font-size: 16px;
  margin-left: 20px;

}

