@media screen and (min-width: 576px) {

  .sales-overview-container .base-card {
    width: 496px;
    margin-bottom: 10px;
  }

  .sales-summary-card-value {
    color: var(--light-color);
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .sales-summary-card-label {
    color: var(--grey-light-150-color);
    font-size: 18px;
    margin-left: 30px;
  }


}




/*
@media (min-width: 768px) {

}

@media (min-width: 1200px) {


}

@media (min-width: 1400px) {


}

*/
